<div class="contain-to-grid fixed">
<nav class="top-bar" data-topbar> 
	<ul class="title-area"> 
		<li class="name"> <h1><%= link_to "Play It Green", root_url %></h1> </li> 
	</ul> 
	<section class="top-bar-section">
		<ul class="right"> 
			<li class="active"><%= link_to "Publiez votre annonce", new_activite_path %> 
		        
      		</li>
			
		</ul>
		<ul class="left"> 
			<li class="has-form">
			  <div class="row collapse">
			    <div class="small-12 columns">
			      <input type="text" placeholder="Destination">
			    </div>
			  </div>
			</li>
			<li><%= link_to "Activités" , activites_path %></li>
			<li><a href="#">Newsletter</a></li> 
			<li><a href="#">Aide</a></li> 
			<% if user_signed_in? %>  
			<li><%= link_to('Déconnexion', destroy_user_session_path, :method => :delete) %></li>
			<% else %>
			  <li><%= link_to('Connexion', new_user_session_path)  %></li>
			<% end %>
			
		</ul> 
	</section> 
</nav>
</div>