<div class="diapo-container">
		<div class="diapo-search">
			<div class="row">
				<div class="small-12">
					<%= image_tag "icons/world.png" %>
					<h1 style="color:white;">PLAY IT GREEN</h1>
	        		<h2 style="color:white;">Jouez la Green, où que vous soyiez </h2>
	        		
				</div>
			</div>       		
     	<div class="row collapse">
			<div class="small-12 columns">
				<% @clientmail = Clientmail.new %>
				<%= form_for @clientmail do |f| %>
							<% if @clientmail.errors.any? %>
							    <div id="error_explanation">
							      <h2><%= pluralize(@clientmail.errors.count, "error") %> prohibited this clientmail from being saved:</h2>
							      <ul>
							      <% @clientmail.errors.full_messages.each do |msg| %>
							        <li><%= msg %></li>
							      <% end %>
							      </ul>
							    </div>
							  <% end %>

				<%= f.text_field :mail, placeholder: "mon@mail.com" %>
				<h3 style="color:white;">Rester informé sur nos activiteés nature</h3>
			</div>

				<% end %>
		</div>	
		
  <p ><%= notice %></p>  


  <p ><%= alert %></p> 		
		</div>


</div>





