<div class="diapo-container">
		<div class="diapo-search">
			<div class="row">
				<div class="small-12">
					<%= image_tag "icons/world.png" %>
					<h2 style="color:white; font-weight: bold; text-align:center;">Vivez Green selon votre destination</h2>
	        		<h4 style="color:white; font-weight: bold; text-align:center;">Plus de X activités vertes dans votre région</h4>
				</div>
			</div>       		
     	<div class="row collapse">
			<div class="small-8 columns">
				<% @clientmail = Clientmail.new %>
				<%= form_for @clientmail do |f| %>
				<% if @clientmail.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@clientmail.errors.count, "error") %> prohibited this clientmail from being saved:</h2>
				      <ul>
				      <% @clientmail.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				<%= f.text_field :mail, placeholder: "Recevoir la newsletter" %>
			</div>
			<div class="actions small-4 columns">
				<%= f.submit "Tenez moi au courant", class: "button small postfix" %>
			</div>
				<% end %>
		</div>			
		</div>
</div>





