<%= render'layouts/diapo/accueil' %>
<div class="accueil-rubriques">

	<div class="row">

		<h1>Votre mail a bien été enregistré</h1>
		<p>Nous vous contacterons prochainement pour vous informer de l'ouverture de notre plateforme</p>

	</div>
	
	<div class="row">
		<div class=" rubrique small-12 large-4 columns">
			<h2>Plein air</h2>	
			<%= image_tag "icons/air.png" %>
		</div>
		<div class="rubrique small-12 large-4 columns">
			<h2>Aquatique</h2>
			<%= image_tag "icons/wave.png" %>
		</div>
		<div class="rubrique small-12 large-4 columns">
			<h2>Nourriture</h2>
			<%= image_tag "icons/food.png" %>
		</div>
		<div class="rubrique small-12 large-4 columns">
			<h2>Excursions</h2>
			<%= image_tag "icons/walk.png" %>
		</div>
		<div class="rubrique small-12 large-4 columns">
			<h2>Glisse</h2>
			<%= image_tag "icons/snow.png" %>
		</div>
		<div class="rubrique small-12 large-4 columns">
			<h2>Insolite</h2>
			<%= image_tag "icons/chalet.png" %>
		</div>
	</div>

</div>
