<%= form_for(@activite) do |f| %>
  <% if @activite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activite.errors.count, "error") %> prohibited this activite from being saved:</h2>

      <ul>
      <% @activite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %><br>
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :typeactivite %><br>
    <%= f.text_field :typeactivite %>
  </div>
  <div class="field">
    <%= f.label :prix %><br>
    <%= f.text_field :prix %>
  </div>
  <div class="field">
    <%= f.label :pays %><br>
    <%= f.text_field :pays %>
  </div>
  <div class="field">
    <%= f.label :adresse %><br>
    <%= f.text_field :adresse %>
  </div>
  <div class="field">
    <%= f.label :datedebut %><br>
    <%= f.date_select :datedebut %>
  </div>
  <div class="field">
    <%= f.label :datefin %><br>
    <%= f.date_select :datefin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
