<div class="row">

<h1>Listing activites</h1>
<%= link_to 'Nouvelle Activité', new_activite_path, class: 'button small success round', style:"float:right;" %>

<div style="clear:both;">
<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Typeactivite</th>
      <th>Prix</th>
      <th>Pays</th>
      <th>Adresse</th>
      <th>Datedebut</th>
      <th>Datefin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activites.each do |activite| %>
      <tr>
        <td><%= activite.titre %></td>
        <td><%= activite.description %></td>
        <td><%= activite.typeactivite %></td>
        <td><%= activite.prix %></td>
        <td><%= activite.pays %></td>
        <td><%= activite.adresse %></td>
        <td><%= activite.datedebut %></td>
        <td><%= activite.datefin %></td>
        <td><%= link_to 'Voir', activite %></td>
        <td><%= link_to 'Editer', edit_activite_path(activite) %></td>
        <td><%= link_to 'Supprimer', activite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

</div>
